<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Authentication</title>
</head>
<body>
<div class="w-full min-h-screen bg-zinc-900 p-10">
    <h3 class="text-3xl text-white mb-5">Create Account</h3>
    <form class="text-white" action="/register" method="post">    
        <input  type="text" placeholder="name" name="name" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800">
        <input  type="text" placeholder="username" name="username" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800">
        <input  type="password" placeholder="password" name="password" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800">
        <input  type="email" placeholder="email" name="email" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800">
        <input  type="number" placeholder="age" name="age" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800">
        <input type="submit" value="Create Account" class="px-5 py-2 bg-blue-500 rounded-md ">
    </form>
</div>
    
</body>
</html>
